version: '3'

tasks:
  default:
    desc: Run act with a specific job (e.g. task default -- setup)
    cmds:
    - act -j {{.CLI_ARGS}} -W .github/workflows/go.yml -P ubuntu-latest=catthehacker/ubuntu:act-latest

  all:
    desc: Run all CI jobs in sequence
    cmds:
    - task act:default -- setup
    - task act:default -- verify
    - task act:default -- build
